
[Unit]
Description=Elephant
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/ibanks/.local/bin/elephant-launch
Restart=on-failure

[Install]
WantedBy=graphical-session.target
